---
import './AnimatedBlob.css';
---

<div
	class="animation-delay-2000 absolute -left-8 top-0 h-96 w-96 animate-blob rounded-full bg-purple-300 opacity-50 mix-blend-multiply blur-xl"
>
</div>
<div
	class="animation-delay-4000 absolute -right-8 top-0 h-96 w-96 animate-blob rounded-full bg-blue-300 opacity-50 mix-blend-multiply blur-xl"
>
</div>
<div
	class="absolute bottom-4 left-20 top-0 h-96 w-96 animate-blob rounded-full bg-cyan-300 opacity-50 mix-blend-multiply blur-xl"
>
</div>
