---
const {class} = Astro.props
---

<div class="flex w-full flex-col justify-center font-serif text-3xl font-bold text-blue-100">
	<div class="z-10 rounded-3xl bg-white p-10 text-zinc-900"><slot /></div>
</div>
