---
const { title } = Astro.props;
---

<header class="flex w-full flex-col justify-center font-serif text-3xl font-bold text-blue-100">
	<div class="z-10 rounded-3xl bg-white p-10 text-zinc-900">
		<h1>Hi, i'm {import.meta.env.AUTHOR_FIRST_NAME}.</h1><h1>I like to build things.</h1>
	</div>
</header>
