---
import type { Repository } from '../types/github';
import Card from './Card.astro';
import '../styles/main.css';
import Carousel from '../components/Carousel/Carousel';

// const res = await fetch(`https://api.github.com/users/Kapeet/repos?type=public&per_page=100`);

const data: Repository[] = [];
// const data: Repository[] = await res.json();

const normalizedData = data
    .filter((a) => a.fork === false)
    .sort((a, b) => b.stargazers_count - a.stargazers_count)
    .slice(0, 15);
---

<Card>
    <div class="flex flex-col gap-5 justify-center">
        <h2 class="text-lg">Here are some projects i made</h2>
        <Carousel client:idle items={normalizedData} />
    </div>
</Card>
